.title {
    background-color: yellowgreen;
    color: blueviolet;
}

.ingredients {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.steps {
    background-color: brown;
}